ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #696969;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

li {
  float: left;
}

p {
  margin: 2%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  width: 100%
}

li a:hover:not(.active) {
  background-color: #56ADEF;
}


body  {
  background: url("img/background.jpg") no-repeat fixed center; 
  background-size: 100% 100%;
}

h1 {
  color: black;
  font-family: "Chiller";
  font-size: 300%;
  text-shadow: 0 0 6px #000000;
  text-align: center;
}

h1:hover{
	color: #56ADEF;
}



/*
THE IMAGE SlideShow
*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 1;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 30%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: blue;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 60%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}





/*
THE PLAYLIST SlideShow
*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container-PLAYLIST {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 1;
}

/* Hide the images by default */
.mySlides2 {
  display: none;
  height: 50%;
  width: 100%;
}

/* Next & previous buttons */
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next2 {
  right: 30%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext2 {
  color: blue;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot2 {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 60%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot2:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}








/* THE FORM */


form.main
{
	border-right: darkblue thin groove;
	border-top: darkblue thin groove;
	left: 20%;
	border-left: darkblue thin groove;
	border-bottom: darkblue thin groove;
	position: absolute;
	background-color: azure;
	width:55%;
	height:35%;
}






